<h4 class='d-flex justify-content-between mb-4'>
  <span>Suggested Posts</span>
</h4>

<p id="notice"><%= notice %></p>

<% @posts.each do |post|%>
  <%= link_to post do%>
    <div class='card mb-4 bg-light' >
      <div class='card-body'>
        <h5 class='card-title text-primary rounded'><%=post.title%></h5>
        <p><%=post.description%>
      </div>
      <div class="comment-count">
        <span class="tag is-rounded"><%= post.comments.count %> comments</span>
      </div>
    </div>
  <%end%>
<%end%>

<%= link_to 'back', posts_url%>
<br>


