<h4 class='d-flex justify-content-between mb-4'>
  <span>Reported Posts</span>
</h4>
<p id="notice"><%= notice %></p>

<% @reports.each do |post|%>
  <%= link_to post do%>
    <div class='card mb-4' >
      <div class='card-body'>
        <h5 class='card-title'><%=post.title%></h5>
        <p><%=post.description%></p>
        <%end%>
        <%= button_to 'Destroy', post,
              method: :delete,
              class:'btn btn-primary' %>
      </div>
    </div>
<%end%>


<%= link_to 'back', posts_url%>


<br>


